<form action="{{ path('gestor_listar_orden_col',{'orden':'ASC','pagina':datospag.pagina,'campo':campo|lower,'entidad':nomentidad|lower})}}" method="post" {{ form_enctype(form_buscador) }}>
				
	<input type="hidden" name="_method" value="PUT" />
	<input type="hidden" name="buscador" value="si" />
	{{ form_errors(form_buscador) }}

		<div>
			{{ form_errors(form_buscador.dato) }}
			{{ form_widget(form_buscador.dato) }}
		</div>
		
		
		<div>
			<button type="submit" title="Buscar" >Buscar</button>
		</div>
		
	 {{ form_rest(form_buscador) }}
 </form> 
