{% extends '::Backend.html.twig' %}
{% block contenidos %}
<section id="col_una">

<h1>Editar {{ entidad }}</h1>

<div id="edita_iz">
	{% for MSNflash in app.session.flashbag.get('editar_ok') %}
		<div class="flash_ok">
			{{ MSNflash | raw }}
		</div>
	{% endfor %}



<form action="{{ path('gestor_actualizar_registro', {'entidad':entidad, 'id':entity.id } ) }}" method="post" {{ form_enctype(edit_form) }}>
				
	<input type="hidden" name="_method" value="PUT" />
	{{ form_errors(edit_form) }}
	{{ form_widget(edit_form) }}
		
		<div> <button type="submit" title="Editar" >Editar</button> </div>	
		
	 {{ form_rest(edit_form) }}
 </form> 

<div id="extras">
{% if creacionEdit!='0' %}
<br />Creado: <b>{{ creacionEdit }}</b>
{% endif %}


{% if modificacionEdit!='0' %}
<br />Modificado: <b>{{ modificacionEdit }}</b>
{% endif %}
</div>
<div id="elimina">
<a href="{{ path('gestor_eliminar_1_registro', { 'entidad': entidad , 'id':entity.id,'ok':'no'}) }}" >Eliminar</a>
</div>
</div>




<div id="edita_de">
	{% if NecesitaImg=='si' %}
	<section id="nueva_foto">
	{{ render(controller('GestorCrudBundle:Imagen:new',{'identidad':entity.id,'entidad':entidad})) }}
	</section>

	<section id="mostrar_fotos">
	{{ render(controller('GestorCrudBundle:Imagen:show',{'identidad':entity.id,'entidad':entidad})) }}
	</section>
	{% endif %}
</div>

</section>

{% endblock %}
