{% extends '::Backend.html.twig' %}
{% block contenidos %}
<section id="col_una">
<h1>Listado de {{ nomentidad }}</h1>

{% set col = mimebros|length-1 %}<br />
<table style="border:1px solid #333333;"> 
        <thead>
            <tr>
               {% for i in 1..col %}
               <th class="alaiz">{{ i }}</th>
               {% endfor %}
    
            </tr>
            
        </thead>
      

<tbody>

{% for key,val in entity  %}
<tr class="" >

	{% for key2,val2 in val  %}
	
<td>	
	{% if val2.formato=='nada' %}
		{{ val2.campo }}
	{% elseif val2.formato=='fecha' %}
		{{ val2.campo|date('d-m-Y') }}
	{% elseif val2.formato=='corta'  %}
		{{ val2.campo[:val2.valor] }}
	{% endif %}	 
		
	 </td>	
	{% endfor %}
	
</tr>
{% endfor %}

</tbody>
 </table> 

<hr />


</section>
{% endblock %}
