{% extends '::Backend.html.twig' %}
{% block contenidos %}
<section id="col_una">
{% set col = mimebros|length-1 %}
<h1>Listado de {{ nomentidad }}</h1>

 {% for MSNflash in app.session.flashbag.get('listado') %}
    <div class="flash_ok">
        {{ MSNflash | raw }}
        <br />
        <a href="{{ path('gestor_listar_orden_col',{'orden':'ASC','pagina':datospag.pagina,'campo':campo|lower,'entidad':nomentidad|lower,'buscador':'no'})}}" class="elimina_filtro"
        title="Eliminar el filtro de la busqueda actual." >Eliminar Filtro</a>
    </div>
{% endfor %}




{% include 'GestorCrudBundle:Crud:buscador.html.twig' %}

{% for MSNflash in app.session.flashbag.get('listado_elimina') %}
    <div class="flash_ok">
        {{ MSNflash | raw }}
    </div>
{% endfor %}
{% for MSNflash in app.session.flashbag.get('listado_ko') %}
    <div class="flash_ko">
        {{ MSNflash | raw }}
    </div>
{% endfor %}

<section id="listado">
<table id="lista"> 
        <thead>
           <tr>
             
                {% for noms in nomcampos  %}
                 
                {% if noms !=nomentidad %}
				<th>
				{% if campo==noms|lower %}
				<a href="{{ path('gestor_listar_orden_col',{'orden':contraorden,'pagina':datospag.pagina,'campo':noms|lower,'entidad':nomentidad|lower})}}" class="bo_orden {{ contraorden }}"></a>
				{% else%}
				<a href="{{ path('gestor_listar_orden_col',{'orden':'ASC','pagina':datospag.pagina,'campo':noms|lower,'entidad':nomentidad|lower})}}" class="bo_orden ASC"></a>
				{% endif %}
				{{ noms }}</th>
               {% endif %}
               {% endfor %}
			<th></th>
            </tr>
            
        </thead>
      

<tbody>
		{% set vuelta=1 %}
		{% set n=1 %}
        {% for valor in entity %}
			{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
			{% if vuelta==1 %}
				<tr class="{{ linea }}">
			{% endif %}	
				<td>
					{% if valor.formato=='nada' %}
						{{ valor.campo }}
					{% elseif valor.formato=='fecha' %}
						{{ valor.campo|date('d-m-Y') }}
					{% elseif valor.formato=='corta'  %}
						{{ valor.campo[:valor.valor] }}
					{% endif %}	
				</td>
				
			{% if vuelta==col %}
				{% set vuelta=1 %}
				<td> <a href="{{ path('gestor_editar_registro',{ 'entidad':nomentidad |lower,'id':valor.id })}}" class="bo_editar"></a></td>
				{% set n=n+1 %}
				</tr> 
			{% else %}
			{% set vuelta=vuelta+1 %}
          
           {% endif %}
        {% endfor %}
         
</tbody>
 </table> 
</section>
{% include 'GestorCrudBundle:Crud:paginador.html.twig' %}





</section>
{% endblock %}
