{% extends '::Backend.html.twig' %}
{% block contenidos %}
<section id="col_una">
{% set col = mimebros|length-1 %}
<h1>Listado de {{ nomentidad }}</h1>

 {% for MSNflash in app.session.flashbag.get('listado') %}
    <div class="flash_ok">
        {{ MSNflash | raw }}
        <br />
        <a href="{{ path('gestor_listar_orden_col',{'orden':'ASC','pagina':datospag.pagina,'campo':campo|lower,'entidad':nomentidad|lower,'buscador':'no'})}}">Eliminar Filtro</a>
    </div>
{% endfor %}

{% include 'GestorCrudBundle:Crud:buscador.html.twig' %}
<br />
<table style="border:1px solid #333333;"> 
        <thead>
           <tr>
             
                {% for noms in nomcampos  %}
                 
                {% if noms !=nomentidad %}
				<th>
				{% if campo==noms|lower %}
				<a href="{{ path('gestor_listar_orden_col',{'orden':contraorden,'pagina':datospag.pagina,'campo':noms|lower,'entidad':nomentidad|lower})}}" class="bo_orden {{ contraorden }}"></a>
				{% else%}
				<a href="{{ path('gestor_listar_orden_col',{'orden':'ASC','pagina':datospag.pagina,'campo':noms|lower,'entidad':nomentidad|lower})}}" class="bo_orden ASC"></a>
				{% endif %}
				{{ noms }}</th>
               {% endif %}
               {% endfor %}
    
            </tr>
            
        </thead>
      

<tbody>
		{% set vuelta=1 %}
        {% for valor in entity %}
        
			{% if vuelta==1 %}
				<tr>
			{% endif %}	
				<td>
					{% if valor.formato=='nada' %}
						{{ valor.campo }}
					{% elseif valor.formato=='fecha' %}
						{{ valor.campo|date('d-m-Y') }}
					{% elseif valor.formato=='corta'  %}
						{{ valor.campo[:valor.valor] }}
					{% endif %}	
				</td>
				
			{% if vuelta==col %}
				{% set vuelta=1 %}
				</tr> 
			{% else %}
			{% set vuelta=vuelta+1 %}
          
           {% endif %}
        {% endfor %}
         
</tbody>
 </table> 

{% include 'GestorCrudBundle:Crud:paginador.html.twig' %}





</section>
{% endblock %}
