
{% if datospag.totalpaginas > 1 %}
<div class="pagination">

    {% if datospag.primera is defined and datospag.pagina != datospag.primera %}
            <a class="first" href="{{ path('gestor_listar',{'entidad':nomentidad|lower,'pagina':datospag.primera})}}"></a>
    {% endif %}


    {% if datospag.previa is defined and datospag.pagina>1 %}
            <a class="previous" href="{{ path('gestor_listar',{'entidad':nomentidad|lower,'pagina':datospag.previa})}}"></a>
    {% endif %}


    {% for page in datospag.pagpaginador %}
        {% if page != datospag.pagina %}
        {% if page >0 or page < datospag.ultima %}
			<span class="page">
                <a href="{{ path('gestor_listar',{'entidad':nomentidad|lower,'pagina':page })}}">{{ page }}</a>
            </span>    
            {% endif %}
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}



    {% if datospag.proxima is defined and datospag.pagina<datospag.ultima %}
            <a class="next" href="{{ path('gestor_listar',{'entidad':nomentidad|lower,'pagina':datospag.proxima})}}"></a>
    {% endif %}

    {% if datospag.ultima is defined and datospag.pagina != datospag.ultima %}
            <a class="last" href="{{ path('gestor_listar',{'entidad':nomentidad|lower,'pagina':datospag.ultima })}}"></a>
    {% endif %}
	



</div>
{% endif %}

