{% extends '::backend.html.twig' %}

{% block contenidos %}
<nav id="secundario">
 <a href="{{ path('gestor_fabricante') }}">
            Tornar al llistat de fabricants
        </a>
</nav>    

<section id="editar_registro">    
    <h1>Crear nuevo fabricante</h1>


{% for flashMessage2 in app.session.flashbag.get('fabricante_ok') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('fabricante_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}


 	 <form action="{{ path('gestor_fabricante_create') }}" 
				method="post" {{ form_enctype(form) }}>
				<input type="hidden" name="_method" value="POST" />
	{{ form_errors(form) }}

			{{ form_label(form.nombre,"Nom:") }}
			{{ form_errors(form.nombre) }}
			{{ form_widget(form.nombre) }}
			
			{{ form_label(form.url,"Web (posar http://):") }}
			{{ form_errors(form.url) }}
			{{ form_widget(form.url) }}

       <nav id="boton_accion">
		{{ form_rest(form) }}
		</nav>
		</form>
</section>

{% endblock %}
