{% extends '::backend.html.twig' %}

{% block contenidos %}
<nav id="secundario">
 <a href="{{ path('gestor_faena') }}">
            Tornar al llistat de feines
        </a>
        
            <a href="{{ path('gestor_faena_new') }}" title="Crear nova feina">
                Crear nova feina
            </a>
</nav>



<section id="nova_feina">
    <h1>Editar feina</h1>
 {% for flashMessage2 in app.session.flashbag.get('faena_ok') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('faena_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}




	 <form action="{{ path('gestor_faena_update',{ 'id':entity.id}) }}" 
				method="post" {{ form_enctype(edit_form) }}>
				<input type="hidden" name="_method" value="PUT" />
	{{ form_errors(edit_form) }}
			{{ form_label(edit_form.titulo,"Títol:") }}
			{{ form_errors(edit_form.titulo) }}
			{{ form_widget(edit_form.titulo) }}
			
			{{ form_label(edit_form.texto,"Text:") }}
			{{ form_errors(edit_form.texto) }}
			{{ form_widget(edit_form.texto) }}

			{{ form_label(edit_form.etiqueta,"Tags (separats per comes):") }}
			{{ form_errors(edit_form.etiqueta) }}
			{{ form_widget(edit_form.etiqueta) }}


			{{ form_label(edit_form.categoria,"Categoria:") }}
			{{ form_errors(edit_form.categoria) }}
			{{ form_widget(edit_form.categoria) }}			


			{{ form_label(edit_form.fabricante,"Fabricant:") }}
			{{ form_errors(edit_form.fabricante) }}
			{{ form_widget(edit_form.fabricante) }}



       <nav id="boton_accion">
		{{ form_rest(edit_form) }}
		</nav>
		</form>
<div id="info_creacion">		
<span>Creat:</span> <b>{{ entity.created| date('d-m-Y')  }}</b> - {{ entity.created| date('H:m:s')  }}<br />
<span>Modificat:</span> <b>{{ entity.updated| date('d-m-Y') }}</b> - {{ entity.updated| date('H:m:s') }}
</div>
</section>

<section id="nueva_foto">
{{ render(controller('ClarorFeinaBundle:Imagen:new',{'idfaena':entity.id})) }}
</section>

<section id="mostrar_fotos">
{{ render(controller('ClarorFeinaBundle:Imagen:show',{'idfaena':entity.id})) }}
</section>



{% endblock %}
