{% extends '::backend.html.twig' %}

{% block contenidos %}
<nav id="secundario">
            <a href="{{ path('gestor_faena_new') }}" title="Crear nova feina">
                Crear nova feina
            </a>
</nav>

<section id="listado">
    <h1>Llistat de Feines</h1>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
    <table class="records_list">
        <thead>
            <tr>
                
                <th>{{ knp_pagination_sortable(pagination, 'Ordre', 'f.titulo') }} Titulo</th>
                <th>{{ knp_pagination_sortable(pagination, 'Ordre', 'f.created') }} Creat</th>
                <th>{{ knp_pagination_sortable(pagination, 'Ordre', 'f.updated') }} Actualitzat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% set n=1 %}
        {% for entity in pagination %}
        	{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
        
            <tr class="{{ linea }}">
                <td>{{ entity.titulo }}</td>
                <td>{% if entity.created %}{{ entity.created|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('d-m-Y') }}{% endif %}</td>
                <td>
               
                <a href="{{ path('gestor_faena_edit', { 'id': entity.id }) }}" title="Editar" class="bo_editar"></a>
                 
                </td>
            </tr>
            {% set n=n+1 %}
        {% endfor %}
        </tbody>
    </table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
    {% endblock %}
