{% extends '::backend.html.twig' %}

{% block contenidos %}

<nav id="secundario">
<a href="{{ path('gestor_categoria_new') }}" title="Crear nova categoria">
                Crear nova categoria
            </a>
</nav>

<section id="listado">

    <h1>Llistat de categories</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Descripció</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% set n=1 %}
        {% for entity in entities %}
			{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
        
		
			<tr class="{{ linea }}">
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                
                 <a href="{{ path('gestor_categoria_edit', { 'id': entity.id }) }}" title="Editar" class="bo_editar"></a>
                    
                </td>
            </tr>
            {% set n=n+1 %} 
        {% endfor %}
        </tbody>
    </table>

</section>    
    {% endblock %}
