<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" CONTENT="noindex, nofollow">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/ComunBackend.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/imagenesBackend.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/gestormenu/css/MenuPrincipal.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}  {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

	{% block cabecera %}{% endblock %}
	
    {% block body %}{% endblock %}
       
       
    <footer>
    Gestor de Continguts <b>{{ global.cliente_detalle }}</b> - {{ global.version}} 
    <br />
    Creació de Did-web.com per <b>{{ global.cliente_mayor }}</b>
    </footer>   
        {% block javascripts %}{% endblock %}
        

    </body>
</html>
