<nav id="idiomas">
	{% for idioma in idiomas %}
	{% if idiomaactual==idioma %}
	    <img src="{{ asset('images/')}}{{idioma}}.png" alt="Idioma actual {{ idioma }}" >
	{% else %}
	    <a href="{{ path('cambio_idioma',{'newlang':idioma})}}" class="bo_idi" title="Cambiar de idioma"><img src="{{ asset('images/')}}{{idioma}}.png" alt="Cambio Idioma {{ idioma }}" ></a> 
	{% endif %}
	{% endfor %}
</nav>

