{% set actual1=app.request.get('_locale') %}
{% if actual1=='es' %}
{% set actual='ca' %}
{% elseif actual1=='ca'%}
{% set actual='es' %}
{% endif %}
{% set a=app.request.uri|split('/') %} 
{% set selfaena	='' %}
{% set selcategoria	='' %}
{% set selfabricante	='' %}

{% for datos in a %}
{% if datos=='faena' %}
	{% set selfaena='sele' %}
	
{% elseif datos=='categoria' %}
	{% set selcategoria='sele' %}
	
{% elseif datos=='fabricante' %}
	{% set selfabricante='sele' %}
{% endif %}
{% endfor %}	
	<nav id="menu_gestor">
	<a href="{{ path('home_gestor',{'_locale':actual1}) }}">Inici</a>
	<a href="{{ path('gestor_faena',{'_locale':actual1 }) }}" class="{{ selfaena }} ">Feina</a>
	<a href="{{ path('gestor_fabricante',{'_locale':actual1 }) }}" class="{{ selfabricante }} ">Fabricant</a>
	<a href="{{ path('gestor_categoria',{'_locale':actual1 }) }}" class="{{ selcategoria }} ">Categoria</a>

	
	</nav>
	
