
    <h2>Insertar nova imatge</h2>

    
    
    
    <form action="{{ path('gestor_imagen_create') }}" 
				method="post" {{ form_enctype(form) }}>
				<input type="hidden" name="_method" value="POST" />
	{{ form_errors(form) }}

	<div class="cap_f">
			{{ form_label(form.nombre,"Nom:") }}
			{{ form_errors(form.nombre) }}
			{{ form_widget(form.nombre) }}
	</div>		
	<div class="cap_f">		
			{{ form_label(form.orden,"Ordre:") }}
			{{ form_errors(form.orden) }}
			{{ form_widget(form.orden) }}
	</div>		
	<div class="cap_f">		
			{{ form_label(form.file,"Imatge:") }}
			{{ form_errors(form.file) }}
			{{ form_widget(form.file) }}
	</div>
       <nav id="boton_accion">
		{{ form_rest(form) }}
		</nav>
		</form>



