{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Imagen</h1>
{{ texto }}
{% for imagen in entity %}


<div style="background-color:red; clear:both; float:left; width:100%; margin-bottom:25px;">{% for elfor in edit_form_img %}
<img src="{{asset('fotos-vidres/p/')}}{{ imagen.slug }}.{{ imagen.extension }} " title="{{ imagen.nombre }}"
{{ form(elfor) }}
 <a href="{{ path('gestor_imagen_delete',{'id':imagen.id,'idfaena':imagen.faena.id}) }}"  title="Eliminar Imagen">Eliminar</a>
 </div>
{% endfor %}



    
{% endfor %}
{% endblock %}
