
<h2>Imatges per aquesta feina</h2>

{% set x=0 %}

{% for elfor in edit_form_img %}
			
	<div class="cuadro_img">
					
			{{ form(elfor) }}
		{% for key,img in entity if key==x %}
			<img src="{{asset('fotos-vidres/p/')}}{{ img.slug }}.{{ img.extension }} " title="{{ img.nombre }}" />
			<a href="{{ path('gestor_imagen_delete',{'id':img.id,'idfaena':img.faena.id}) }}"  title="Eliminar Imagen">Eliminar</a>
		{% endfor %}
{% set x=x+1 %}

	</div>	
		{% endfor %}





