{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Imagen</h1>

{% set x=1 %}










{% set x=0 %}

			{% for elfor in edit_form_img %}
			
<div style="border:1px solid #ff0000;">
					
			{{ form(elfor) }}
			{% for key,img in entity if key==x %}
			
		<img src="{{asset('fotos-vidres/p/')}}{{ img.slug }}.{{ img.extension }} " title="{{ img.nombre }}" />
		<a href="{{ path('gestor_imagen_delete',{'id':img.id,'idfaena':img.faena.id}) }}"  title="Eliminar Imagen">Eliminar</a>
		
		{% endfor %}
		{% set x=x+1 %}
	</div>	
		{% endfor %}








{% endblock %}


