{% extends '::backend.html.twig' %}

{% block contenidos %}
<nav id="secundario">
 <a href="{{ path('gestor_categoria') }}">
           Tornar al llistat de categories
        </a>
        
   
</nav>

<section id="editar_registro">
    <h1>Crear nova categoria</h1>
    
{% for flashMessage2 in app.session.flashbag.get('categoria_ok') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('categoria_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}


	 <form action="{{ path('gestor_categoria_create') }}" 
				method="post" {{ form_enctype(form) }}>
				<input type="hidden" name="_method" value="POST" />
	{{ form_errors(form) }}

			{{ form_label(form.nombre,"Nom:") }}
			{{ form_errors(form.nombre) }}
			{{ form_widget(form.nombre) }}
			
			{{ form_label(form.descripcion,"Descripció:") }}
			{{ form_errors(form.descripcion) }}
			{{ form_widget(form.descripcion) }}

       <nav id="boton_accion">
		{{ form_rest(form) }}
		</nav>
		</form>
</section>

{% endblock %}
